
#landing .title {
  text-align: center;
}

#landing .title h1,
#landing .title h2 {
  letter-spacing: 1px;
  word-spacing: 4px;
}

#landing .title h2 {
  margin-bottom: 4rem;
}

@media (min-width: 700px) {
  #landing .title h1,
  #landing .title h2 {
    font-size: 4rem;
    line-height: 5.6rem;
  }

  #landing .title h2 {
    font-size: 3.2rem;
  }
}
