:root {
  font-size: 40%;
  --background-input-box: #fdfdfd;
  --background: #F8F6F2;
  --color-text-button: #F8F6F2;
  --color-text: #f5dead;
  --color-input-border: #EEDAA8;
  --color-button: #DE9A60;
  --color-title: #B4794D;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
}

body {
  background: var(--background);
}

body, input, button, textarea {
  font: 400 1.6rem 'Libre Baskerville';
  color: var(--color-text);
  outline-color: var(--color-button);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font: 700 3.2rem 'Playfair Display';
  color: var(--color-title);
}

@media (min-width: 900px) {
  :root {
    font-size: 62.5%;
  }

  #root {
    flex-direction: row;
  }
}
