
#converter {
  text-align: center;
}

#converter {
  height: 80vh;
  max-width: 450px;
  max-height: 500px;
  padding: 0 2.4rem;
  box-sizing: content-box;
  background: var(--background-input-box);
  box-shadow: 2px 4px 12px rgba(238, 218, 168, 0.25);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#converter h3,
#converter h4 {
  font-size: 2.8rem;
  line-height: 4rem;
  margin: 0 0 4rem;
}

#converter h4 {
  font-size: 2.4rem;
}

#converter .input-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

#converter .input-block input {
  width: 24rem;
  height: 8rem;
  border: 2px solid var(--color-text);
  border-radius: 8px;
  font-size: 2rem;
  text-indent: 8px;
  transition: .2s;
}

#converter .input-block input.textbox {
  border-right: 0;
  border-radius: 8px 0px 0px 8px;
}

#converter .input-block button {
  padding: 0.8rem 1.6rem;
  height: 8rem;
  background: var(--color-button);
  border-radius: 0px 8px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 32px;
  font-size: 2rem;
  color: var(--color-text-button);
}
